name: vueapp

services:
  vue-app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "5173:5173"
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- --host"
